
body {
background-color: #B7C3CF;
color: #01080B;
font-family:"Trebuchet MS", Helvetica, sans-serif;
}
ol {list-style-type: lower-alpha;
padding: 5em;}

div#top {width:100%; background-color:#F4F6F7; padding:5px;}
    
